<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>1712ServletDay02_01Hello</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <context-param>
    <param-name>url</param-name>
    <param-value>www.alu.com</param-value>
  </context-param>
  <servlet>
    <servlet-name>hs</servlet-name>
    <servlet-class>cn.tedu.HelloServlet</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>lunongyunhello</param-value>
    </init-param>

  </servlet>
  <servlet-mapping>
    <servlet-name>hs</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bmi</servlet-name>
    <servlet-class>cn.tedu.BMIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bmi</servlet-name>
    <url-pattern>/bmi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>info</servlet-name>
    <servlet-class>cn.tedu.InfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>info</servlet-name>
    <url-pattern>/infoAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>method</servlet-name>
    <servlet-class>cn.tedu.MethodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>method</servlet-name>
    <url-pattern>/methodAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestServlet</display-name>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>cn.tedu.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/RequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseServlet</display-name>
    <servlet-name>ResponseServlet</servlet-name>
    <servlet-class>cn.tedu.ResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseServlet</servlet-name>
    <url-pattern>/ResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lifecycleServlet</servlet-name>
    <servlet-class>cn.tedu.lifecycleServlet</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>lunongyun</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>lifecycleServlet</servlet-name>
    <url-pattern>/lifecycle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contextservlet</servlet-name>
    <servlet-class>cn.tedu.ContextServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>contextservlet</servlet-name>
    <url-pattern>/contextServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContextAttribute1</servlet-name>
    <servlet-class>cn.tedu.ContextAttribute1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextAttribute1</servlet-name>
    <url-pattern>/ServletAttribute1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContextAttribute2</servlet-name>
    <servlet-class>cn.tedu.ContextAttribute2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextAttribute2</servlet-name>
    <url-pattern>/ServletAttribute2</url-pattern>
  </servlet-mapping>
</web-app>